<a href="https://colab.research.google.com/github/narenoffl/TalentSpring-TsCoE-Python-Training-for-ML-AI/blob/master/Naren_P_'s_Copy_of_Assignment_04_Numpy_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy


### Exercise 01: Form an array using np.arange which contains all even numbers. 10 to 30

In [ ]:
import numpy as np
a=np.array(list(filter(lambda x:x%2==0,np.arange(10,31))))
print(a)

### Exercise 02: Create an array of evenly spaced numbers upto 24 as one dimentional and reshape it to (2,4,3)

In [ ]:
#your code here

ar2 = np.arange(1,25)
print(ar2)

ar2 = ar2.reshape(2,4,3)
print(ar2)

### Exercise 03: Get [1, 4, 5] from [[1, 2], [3, 4], [5, 6]] using indexing

In [ ]:
arr3 = np.array([[1,2],[3,4],[5,6]])
arr31 = np.array([arr3[0,0], arr3[1,1], arr3[2,0]])
print(arr31)

### Exercise 04: From the given array [[ 0, 1, 2],[ 3, 4, 5],[ 6, 7, 8],[ 9, 10, 11]] form an array containing elements greater than 5

In [ ]:
no=np.array( [[0,1,2],[3,4,5],[6,7,8],[9,10,11]])
no=no.ravel()
np.array(list(filter(lambda x:x>5,no)))

### Exercise 05: Add given two arrays [[ 0.0, 0.0, 0.0],[10.0,10.0,10.0], [20.0,20.0,20.0],[30.0,30.0,30.0]] and [1.0,2.0,3.0]

In [ ]:
#your code here

ar51 = np.array([[ 0.0, 0.0, 0.0],[10.0,10.0,10.0], [20.0,20.0,20.0],[30.0,30.0,30.0]])
ar52 = np.array([1.0,2.0,3.0])
print(ar51 + ar52)

### Exercise 06: Multiplication of two arrays [1, 2, 3, 4] [10, 20, 30, 40]

In [ ]:
#your code here
np.multiply(np.array([1,2,3,4]),np.array([10,20,30,40]))

### Exercise 07: Matrix multiplication for 2-D array

In [ ]:
a = np.array([[1, 0],
             [0, 1]])

b = np.array([[4, 1],
              [2, 2]])


print(a@b)

### Exercise 08: Transpose the given array [[0, 1, 2, 3] [4, 5, 6, 7] [8, 9, 10, 11]]

In [ ]:
#your code here

before_tr = np.array([[0, 1, 2, 3] ,[4, 5, 6, 7] ,[8, 9, 10, 11]])
print(before_tr.transpose())

### Exercise 09: Concatenate [[1, 2], [3, 4]] and [[5, 6], [7, 8]] using numpy in axis 1

In [ ]:
#your code here

arr_91 = np.array([[1, 2], [3, 4]])
arr_92 = np.array([[5, 6], [7, 8]])
arr_soln = np.concatenate((arr_91,arr_92),axis = 1)
print(arr_soln)

### Exercise 10: Given a Multidimensional array find the following,


1.   get second and third coloum from the given Multidimensional array
2.   get second and third row from the given Multidimensional array
3.   and reverse the given Multidimensional array

In [ ]:
import numpy as np
array2D = np.array([[a, b, c], [d, e, f], [g, h, i]])
#Your code here

### Exercise 11: Given a Multidimensional array find the following,


1.   What is the average value of the second column 
2.   Calculate the Mean of the given Multidimensional array

In [ ]:
import numpy as np
array5D = np.array([[174677, 343356, 301717, 224120, 401101],
       [140473, 254634, 112262,  25063, 108262],
       [375059, 406983, 208947, 115641, 296685],
       [444899, 129585, 171318, 313094, 425041],
       [476442,  35455, 191553, 384154,  29917]])
#Your code here
print(np.average(array5D[:,2]))
print(np.mean(array5D))

### Exercise 12: For the given array, get the slice of the first row and display them.

In [ ]:
array = np.array([[[22, 23, 24], [25, 26, 27], [28, 29, 30]],
               [[31, 32, 33], [34, 35, 36], [37, 38, 39]],
               [[40, 41, 42], [43, 44, 45], [46, 47, 48]]])

##your code here

### Exercise 13: Create a 10x10 array with random values and find minimum number and maximum number along axis 1

In [ ]:
## your code here

### Exercise 14: Create an array of the first 20 odd integers

In [ ]:
### your code here

odd = np.arange(1,40,2)
print(odd)

### Exercise 15: Create a 5x5 matrix with values 1,2,3,4 just below the diagonal

In [ ]:
### your code here

### Exercise 16: 2x+3y=13 3x+y=9 find the value of x and y.

In [ ]:
### your code here

coeff_ar = np.array([[2,3],[3,1]])
const_ar = np.array([[13],[9]])
sln_ar = np.linalg.solve(coeff_ar,const_ar)
print("x = ",int(sln_ar[0,0]))
print("y = ",int(sln_ar[1,0]))

### Exercise 17: Compute $e^x$, element-wise for a sample array

In [ ]:
### your code here

import math
arr17 = np.arange(1,11)
for i in range(10):
  arr17[i] = math.pow(math.e , arr17[i])
print(arr17)