<a href="https://colab.research.google.com/github/narenoffl/TalentSpring-TsCoE-Python-Training-for-ML-AI/blob/master/PY4AIML_CoE2_Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is the first session of PY4AIML

In [ ]:
!python --version

Python 3.6.9

This is my first program in session 01

In [ ]:
print("My First Program in Python")

My First Program in Python

**Building blocks of Python Program**
* Functions
* Variables
* Expressions
* Statements
* Block
* Comments

In [ ]:
10
print(type('Indira'))
print("I'am Indira")
print('"hello World"')
print(type([1, 2, " Indira"]))

<class 'str'>
I'am Indira
"hello World"
<class 'list'>

In [ ]:
num = 5
print(type(num))

<class 'int'>

In [ ]:
num = 5
num1 = 5.25
name = "Indira"
org = 'TalentSprint'
marks = [1, 5.2, "Python"]
tup = (1, 5.2, 'PY4AIML')
a = None
Expression = True
print(type(Expression))

<class 'bool'>

In [ ]:
NUMBER = 10
print(NUMBER)

10

In [ ]:
NUM = 10
NUM1 = 5.25
add = NUM + NUM1
print(add)

15.25

In [ ]:
add = num + num1
print(add)
sub = num1 - num
mul = num * num1
div = num1 / num
rem = 10 % 5
power = 2 ** 3
print(power)
print(rem)
print(rem)
print(sub)
print(mul)
print(div)

10.25
8
0
0
0.25
26.25
1.05

In [ ]:
int_div = 5.25 // 5
print(int_div)

1.0

In [ ]:
print(10 == 0)

False

In [ ]:
print(4 > 0 and 10 == 0)

False

In [ ]:
num = 0
if num > 0:    # if True: --> if block statements
  print("hey positive!")
elif num == 0:
  print("NUmber is Zero")
else:
  print("it's a negative")

NUmber is Zero

In [ ]:
marks  =  75
if marks >= 80:
  print(" Grade  A")
elif marks >=  60:
  print( " Grade  B" )
elif marks >= 40:
  print( " Grade  C" )
else:
  print( " F a i l e d " )

 Grade  B

In [ ]:
num = 1
print(num)
num = num + 1 # num += 1 == num = num + 1
print(num)
num = num + 1
print(num)
num = num + 1
print(num)
num = num + 1
print(num)
num = num + 1

1
2
3
4
5

In [ ]:
num = 1
while num < 6:
  print(num)
  num += 1

1
2
3
4
5

In [ ]:
Name = "Indira Priyadarshini "
Family_Name = "Talasila"
my_name = Name + Family_Name
print(my_name)
print(Name[0])

Indira Priyadarshini Talasila
I

In [ ]:
for ch in my_name:
  print(ch, end = " ")

I n d i r a   P r i y a d a r s h i n i   T a l a s i l a

In [ ]:
def is_even(num):
  return num % 2 == 0


def cube(num):
  return num ** 3

num = 1
while num < 11:
  if is_even(num):
    print(cube(num))
  num += 1

8
64
216
512
1000

In [ ]:
def ping(i):
  if i > 0:
    return pong(i - 1)
  return "0"

def pong(i):
  if i > 0:
    return ping(i - 1)
  return "1"

print(ping(29))

1